{{> head }}
<body>
{{> navbar }}
<div class="container">
    <div id="pageloader">
        <img src="/images/infinity-1.7s-200px.svg" alt="Waiting for model..." />
    </div>

    {{{ body }}}
</div>
{{> footer }}
</body>
</html>
