<div class="section">
  <h2 class="drac-heading drac-heading-2xl drac-text-black center">
    Scenery-Vision
  </h2>
</div>
<div class="divider"></div>
<form id="adder" action="/handle" method="post">
  <div class="section">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="article-input" name="article" class="validate"/>
        <label for="article-input">
          Введите номер артикула
        </label>
      </div>
    </div>
    <div class="row">
      <button
        type="submit"
        id="submit-button"
        class="right waves-effect waves-teal btn"
      >
        Отправить
        <i class="material-icons right">
          send
        </i>
      </button>
    </div>
  </div>
</form>